.container{
    height :400px;
    border:1px solid gray;
    padding: 5px;
    display:grid;
    grid-template-columns:repeat(3,1fr);
    row-gap: 5px;
    grid-template-columns:auto auto auto;
    column-gap: 5px;
    
    
}
.container>div{
    border-radius: 2px;
    font-size: medium;
    color: aliceblue;
    background-color: rgb(34, 32, 32);
    padding: 20px;
    
}
.item1{
    grid-column: 1 / span 2;
    
   
    
}
.item2{
   height:181%
    
}