.container{
    height :400px;
    width: 200px;
    border:1px solid gray;
    padding: 5px;
    display:grid;
    row-gap: 5px;
    grid-template-rows: 200fr;
    grid-template-columns: 100fr 100fr;
}
.item{
    border-radius: 2px;
    background-color: rgb(34, 32, 32);
}